@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-container {
  @apply container mx-auto px-4 sm:px-28 md:px-40 lg:px-56 2xl:px-96;
}

.theme-title {
  @apply bg-clip-text text-transparent bg-gradient-to-r 
  from-cyan-200 to-blue-600;
}

.theme-excerpt {
  @apply pb-8 text-gray-500 dark:text-gray-300;
}

.theme-excerpt > p {
  @apply truncate;
}

.theme-readmore {
  @apply px-4 py-1 justify-self-center shadow-lg shadow-cyan-500/50 
  rounded-md ring-1 ring-cyan-500 animate-pulse;
}

.theme-pagination {
  @apply flex items-center justify-center px-3 h-8 leading-tight cursor-pointer
  text-cyan-700 border border-gray-300 sm:hover:bg-gray-300 sm:hover:text-cyan-500 
  dark:border-gray-700 dark:text-cyan-500 dark:sm:hover:bg-gray-700 dark:sm:hover:text-cyan-100;
}

.theme-pagination-clicked {
  @apply bg-gray-300 text-cyan-500 dark:bg-gray-700 dark:text-cyan-100;
}

.theme-prev, .theme-next {
  @apply px-3 py-1 font-medium text-cyan-600 dark:text-cyan-300 
  cursor-pointer hover:underline;
}

.theme-date, a {
  @apply text-cyan-600 dark:text-cyan-300;
}

.theme-badge {
  @apply bg-cyan-200 text-cyan-700 text-base font-medium 
  mr-2 px-2.5 py-0.5 rounded dark:bg-cyan-700 dark:text-cyan-200;
}

.VPHome, .VPDoc {
  @apply pb-5 !important;
}

.VPFooter {
  @apply px-1 py-5 !important;
}

mjx-container[style*="display: block;"] {
  @apply overflow-x-auto overflow-y-hidden;
}

mjx-container > svg {
  @apply inline-block;
}

/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 * -------------------------------------------------------------------------- */

 :root {
  --vp-c-brand: #0891b2;
  --vp-c-brand-light: #747bff;
  --vp-c-brand-lighter: #9499ff;
  --vp-c-brand-lightest: #bcc0ff;
  --vp-c-brand-dark: #535bf2;
  --vp-c-brand-darker: #454ce1;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(40px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-darker);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

.dark {
  --vp-custom-block-tip-border: var(--vp-c-brand);
  --vp-custom-block-tip-text: var(--vp-c-brand-lightest);
  --vp-custom-block-tip-bg: var(--vp-c-brand-dimm);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand) !important;
}